@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/montserrat-v15-latin-regular.woff") format("woff");
  src: url("/assets/fonts/montserrat-v15-latin-regular.woff2") format("woff2");
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: .25s ease-in-out;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.665);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.864);
  min-height: 120px;
}

.header__container {
  max-width: 1200px;
  padding: 20px 0;
}

/* NAV */
.header__nav {
  display: block;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.nav__links {
  list-style-type: none;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  width: 70%;
}

.nav__link {
  width: 150px;
  padding: 1em;
  border-radius: 0.6em;
  cursor: pointer;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.137) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.nav__link:hover {
  border-radius: 0.6em;
  box-shadow: inset -7px -15px 10px -20px #000000,inset 10px 17px 10px -20px #ffffff;
  background-position: left bottom;
}

.nav__link:hover a {
  color: rgba(255, 255, 255, 0.884);
}

.nav__link a {
  color: rgba(206, 206, 206, 0.583);
}

/* BURGER MENU */
.burger {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: rgba(255, 255, 255, 0.542);
  box-shadow: 0px 4px 24px black;
  line-height: 0.6;
  text-align: center;
}

.burger:hover {
  background: rgba(255, 255, 255, 0.727);
}

.burger:hover > span::before,
.burger:hover > span::after {
  width: 34px;
  left: 0;
}

.burger > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}

.burger > span::before, .burger > span::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
}

.burger > span::before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.burger > span::after {
  top: 11px;
  left: 6px;
  width: 22px;
}
