@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat-v15-latin-regular.woff") format("woff");
    src: url("../assets/fonts/montserrat-v15-latin-regular.woff2") format("woff2");
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: 0.25s ease-in-out;
}

.wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// HEADINGS
.heading {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 60px;
    margin: 10px 0;
    cursor: pointer;

    &::after {
        border-bottom: 2px dashed rgba(206, 206, 206, 0.6);
        display: block;
        content: "";
        height: 2px;
        width: 0;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}

.subheading {
    @extend .heading;
    font-size: 30px;
    letter-spacing: 0;
    text-align: center;
}

.title {
    font-size: 20px;
    letter-spacing: 5px;
    color: rgba(16, 17, 16, 0.849);
    font-weight: 500;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.665);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.864);
    min-height: 120px;

    &__container {
        max-width: 1200px;
        padding: 20px 0;
    }

    &__nav {
        display: block;
        width: 100%;
        transition: all 500ms ease-in-out;
    }
}

.nav__links {
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    width: 70%;
}

.nav__link {
    width: 150px;
    padding: 1em;
    border-radius: 0.6em;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.137) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    text-transform: uppercase;

    &:hover {
        border-radius: 0.6em;
        box-shadow: inset -7px -15px 10px -20px #000000, inset 10px 17px 10px -20px #ffffff;
        background-position: left bottom;

        & a {
            color: rgba(255, 255, 255, 0.884);
        }
    }

    & a {
        color: rgba(206, 206, 206, 0.583);
    }
}

/* BURGER MENU */
.burger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    right: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: rgba(255, 255, 255, 0.542);
    box-shadow: 0px 4px 24px rgb(0, 0, 0);
    line-height: 0.6;
    text-align: center;

    &:hover {
        background: rgba(255, 255, 255, 0.727);

        & > span::before,
        & > span::after {
            width: 34px;
            left: 0;
        }
    }

    & > span {
        display: inline-block;
        position: relative;
        height: 2px;
        width: 34px;
        border-radius: 1px;
        background: #293335;
        vertical-align: middle;

        &::before,
        &::after {
            display: inline-block;
            position: absolute;
            content: "";
            height: 2px;
            border-radius: 1px;
            background: #293335;
            // transition: all .2s;
        }

        &::before {
            top: -11px;
            left: 3px;
            width: 28px;
        }

        &::after {
            top: 11px;
            left: 6px;
            width: 22px;
        }
    }
}

/* ACTIVE BURGER MENU */
.header__container.active {
    & .burger {
        background-color: transparent;

        & > span {
            height: 0;

            &::before,
            &::after {
                top: 0px;
                left: 0;
                width: 34px;
                background-color: white;
                transition: all 0.2s linear;
            }

            &::before {
                transform: rotate(135deg);
            }

            &:after {
                transform: rotate(-135deg);
            }
        }
    }

    & .header__nav {
        visibility: visible;
        clip-path: circle(150%);
        animation: pulse 1.5s;
        transition: opacity 0.4s ease-in-out;
    }

    & .nav__link {
        animation: 0.5s slidein linear;
    }
}

/* MAIN */
.main {
    width: 100%;
    height: 100%;
    background: url("../assets/img/jpg/bg-pc-mouse.jpg") no-repeat center/cover fixed;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 100px;
}

/* PROFILE */
.profile {
    padding-top: 160px;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        column-gap: 5%;
    }

    &__info {
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 5%;
        position: relative;

        img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.44);
            box-shadow: 10px 10px 10px #000000;
            opacity: 0.6;

            &:hover {
                transform: rotateY(30deg);
                transition: 0.5s ease;
            }
        }

        .contacts {
            display: flex;
            justify-content: center;

            &__list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                height: 55%;
                position: absolute;
                top: 23%;
                left: 42%;
            }

            svg {
                width: 25px;
                height: 25px;

                .svg-fill {
                    fill: rgb(187, 187, 187);
                }

                &:hover {
                    transform: scale(1.2);

                    .svg-fill {
                        fill: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    &__data {
        background-color: rgba(74, 78, 77, 0.164);
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        flex: 1 1 60%;
        border-radius: 20px;
        text-align: center;

        .description {
            display: flex;
            flex-flow: column wrap;
            row-gap: 10px;
            padding: 10px 30px 20px;

            &__title {
                font-size: 30px;
                letter-spacing: 5px;
                color: rgba(16, 17, 16, 0.849);
                font-weight: 500;
                margin-bottom: 10px;
            }

            &__text {
                background-color: rgba(74, 78, 77, 0.164);
                border-radius: 20px;
                padding: 20px;
                line-height: 24px;
            }
        }
    }
}

/* PROJECTS */
.projects {
    &__container {
        background-color: rgba(5, 5, 5, 0.349);
        border-radius: 20px;
        padding: 20px 0;

        // taken as a basis ----- to be updated
        .slider {
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            max-width: 60%;
            position: relative;
            margin: auto;

            &__slide {
                animation: fade 1.5s linear;
                border-radius: 10px;
                padding: 20px 60px;

                img {
                    object-fit: contain;
                    width: 100%;
                    margin: 0 auto;
                    border-radius: 20px;

                    transition: 0.5s ease;

                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .arrow {
                cursor: pointer;
                position: absolute;
                top: 40%;
                width: auto;
                font-size: 24px;
                padding: 16px;
                transition: 0.5s ease;

                @media screen and (max-width: 910px) {
                    top: 35%;
                    font-size: 16px;
                    padding: 10px;
                }

                &__prev {
                    left: 2%;
                }

                &__next {
                    right: 2%;
                }

                &__prev:hover,
                &__next:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                }
            }
        }
    }
}

.skills {
    &__container {
        @extend .projects__container;
    }

    &-list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            row-gap: 20px;

            .progress {
                width: 400px;
                height: 25px;
                margin: auto 35px;
                background-color: rgba(138, 197, 197, 0.2);
                border-radius: 20px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 40%;
                    height: 100%;
                    background-color: rgba(147, 211, 186, 0.4);
                    border-radius: 20px;
                }

                &:hover::before {
                    background-color: rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }

            .percent-80::before {
                width: 80%;
            }

            .percent-60::before {
                width: 60%;
            }

            .html,
            .css,
            .js,
            .java {
                display: block;
                width: 45px;
                height: 45px;
                opacity: 0.6;
                transition: 0.5s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .html {
                background: url("../assets/img/svg/html.svg") no-repeat center/contain;
            }

            .css {
                background: url("../assets/img/svg/css.svg") no-repeat center/contain;
            }

            .js {
                background: url("../assets/img/svg/js.svg") no-repeat center/contain;
            }
        }
    }
}

.education {
    &__container {
        @extend .projects__container;
    }

    .colleges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        text-align: center;
        margin: 40px;

        &__item {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            font-size: 18px;
        }

        &__title {
            @extend .title;
            background-color: rgba(0, 0, 0, 0.282);
            color: rgba(206, 206, 206, 0.768);
            border-radius: 10px;
            padding: 30px 10px;
            transition: all 2s ease-out;

            &:hover {
                transform: scale(0.96);
                color: rgb(0, 0, 0);
                background-color: rgba(206, 206, 206, 0.097);
            }
        }

        &__study-time {
            font-weight: 600;
        }
    }
}

.languages {
    &__container {
        @extend .projects__container;
        background: url("../assets/img/png/map.png") no-repeat center/contain;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 2s ease-out;

        &:hover .language {
            transform: scale(0.96);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .languages__wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            column-gap: 20px;

            .language {
                width: 110px;
                height: 110px;
                padding: 20px;
                border: 2px solid rgba(0, 0, 0, 0.534);
                background-color: rgba(114, 114, 114, 0.4);
                border-radius: 50%;
                margin-bottom: 20px;
                text-align: center;
                transition: 0.8s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1);
                    color: rgba(199, 199, 199, 0.493);
                    background-color: rgba(0, 0, 0, 0.096);
                    border: unset;
                }

                &__name {
                    font-size: 14px;
                }

                &__skill {
                    font-size: 20px;
                }
            }
        }
    }
}

/* FOOTER */
.footer {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 -6px 15px -1px rgba(0, 0, 0, 0.89);
    min-height: 120px;

    &__container {
        width: 50%;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .item {
            .github svg {
                width: 40px;

                .svg-fill {
                    fill: rgb(167, 175, 182);

                    &:hover {
                        fill: rgb(255, 255, 255);
                    }
                }
            }

            .rsschool svg {
                width: 80px;
                &:hover {
                    fill: rgb(255, 255, 255);
                }
            }
            .rsschool .svg-fill {
                fill: rgb(167, 175, 182);
            }

            .year {
                font-size: 18px;
                color: rgb(167, 175, 182);
            }
        }
    }
}

/* ANIMATIONS */
@keyframes slidein {
    0% {
        transform: translate3d(100px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideout {
    100% {
        transform: translate3d(0, 0, 0);
    }
    0% {
        transform: translate3d(100px, 0, 0);
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0);
    }
    to {
        box-shadow: 0 0 0 1000px rgb(0, 0, 0);
        background: rgb(0, 0, 0);
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

// MEDIA QUERY FOR BURGER
@media screen and (max-width: 910px) {
    .burger {
        display: inline-block;
        animation: 0.3s slidein linear;
    }

    .header__nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        content: "";
        width: 300px;
        background: rgb(0, 0, 0);
        box-shadow: 0 0 0 1000px rgb(0, 0, 0);
        transition: all 500ms ease-in-out;
        clip-path: circle(30px at calc(100% - 65px) 65px);
        visibility: hidden;
    }

    .nav__links {
        flex-direction: column;
        min-height: 330px;
    }
}
